{% extends "main/template.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% load static %}
{{jname}} (@{{jusername}})
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>  
            $('.like-form').submit(function(e){
                e.preventDefault();
                const tweet_id = $(this).attr('id')
                
                const likeText = $(`.like-input${tweet_id}`).attr('value')
                const trim = $.trim(likeText)
                const notreply = JSON.parse(document.getElementById('notreply').textContent);
                const url = $(this).attr('action')
                if(!notreply)
                {
                    const reply_id = JSON.parse(document.getElementById('replyid').textContent);
                
                    let res;

                    const likes = $(`.like-count${tweet_id}`).text()

                    const trimCount = parseInt(likes)
                    
                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                            'tweetid':tweet_id,
                            'replyid':reply_id,
                        },
                        success: function(response){
                            if (trim === 'Unlike'){
                                $(`.like-input${tweet_id}`).attr('value', "Like")
                                $(`.like-img${tweet_id}`).attr('src', '/static/heart2.jpg')
                                res = trimCount - 1

                            } else{
                                $(`.like-input${tweet_id}`).attr('value', "Unlike")
                                $(`.like-img${tweet_id}`).attr('src', '/static/Symbolic_Love_Heart.png')
                                res = trimCount + 1
                            }

                            $(`.like-count${tweet_id}`).text(res)
                        },
                        error: function(response){
                            console.log('error', response)
                        }
                    })
                }
                else
                {
                    let res;

                    const likes = $(`.like-count${tweet_id}`).text()

                    const trimCount = parseInt(likes)

                    $.ajax({
                        type: 'POST',
                        url: url,
                        data: {
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                            'tweetid':tweet_id,
                        },
                        success: function(response){
                            if (trim === 'Unlike'){
                                $(`.like-input${tweet_id}`).attr('value', "Like")
                                $(`.like-img${tweet_id}`).attr('src', '/static/heart2.jpg')
                                res = trimCount - 1

                            } else{
                                $(`.like-input${tweet_id}`).attr('value', "Unlike")
                                $(`.like-img${tweet_id}`).attr('src', '/static/Symbolic_Love_Heart.png')
                                res = trimCount + 1
                            }

                            $(`.like-count${tweet_id}`).text(res)
                        },
                        error: function(response){
                            console.log('error', response)
                        }
                    })
                }
            })
        </script>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        
{% endblock %}

{% block content %}
{{notReply|json_script:'notreply'}}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% for Tweet in tweet %}   
<div class="row justify-content-center">          
    <div class="card" style="width: 18rem;">      
        <ul style="color:black; margin-bottom:30px; class=list-group list-group-flush font-family: 'Kanit', sans-serif;">
            <li class="list-group-item">
                {% if notReply %}
                {% if Tweet.image %}
                    <img src="/uploads/{{Tweet.image}}" style="width:50%">
                {% endif %}
            </li>
            
                {{Tweet.tweet}}
                <form method="post" action="/like/" class="like-form" id="{{Tweet.id}}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" value="{{Tweet.id}}" name="tweetid">
                    <div style="flex: 1; margin:5px;" class="like-count{{Tweet.id}}">
                        {{Tweet.num_likes}}
                    </div>
                        {% if usuario in Tweet.likes.all %}
                        <input type="hidden" class="like-input{{Tweet.id}}"value="Unlike"></input>
                        <button style="border:none; background:transparent; margin:none; display:flex; "type="submit" class="unlike-btn{{Tweet.id}}"><img class="like-img{{Tweet.id}}" src="{% static "Symbolic_Love_Heart.png" %}" style="max-width: 10%;"></button></li>
                        {% else %}
                        <input type="hidden" class="like-input{{Tweet.id}}" value="Like"></input>
                        <button style="border:none; background:transparent; margin:none;display:flex;"type="submit" class="like-btn{{Tweet.id}}"><img class="like-img{{Tweet.id}}"src="{% static "heart2.jpg" %}" style="max-width: 10%;"></button></li>
                        {% endif %}
                    <li class="list-group-item">{{Tweet.publishDate}}</li>
                </form>
                <form method="post" action="reply" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" value="{{Tweet.id}}" name="tweetid">
                    <input style="position:absolute; right:654px; " type="submit" class="tweetBtn" value="Tweet"></input>
                </form>
                {% for replys in qs|dictsortreversed:"publishDate"%}
                        <a href="/{{replys.replyLink}}"  style="text-decoration: none; color:black;">
                            {% if replys.image %}
                                <img src="/uploads/{{replys.image}}" style="width:50%">
                            {% endif %}
                            {{replys.body}}<br>
                        </a>
                {%endfor%}
            </ul>
        </div>
    </div>
            {% else %}
            {{Tweet.id|json_script:'replyid'}}
            <form method="post" action="/like/" class="like-form" id="{{Tweet.tweet.id}}">
                <a href="/{{Tweet.tweet.tweetLink}}" style="text-decoration: none; color:black;" >
                    {% if Tweet.tweet.image %}
                        <img src="/uploads/{{Tweet.tweet.image}}" style="width:50%">
                    {% endif %}
                    {{Tweet.tweet.tweet}}<br><br>
                </a>
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" value="{{Tweet.tweet.id}}" name="tweetid">
                <div style="flex: 1; margin:5px;" class="like-count{{Tweet.tweet.id}}">
                    {{Tweet.tweet.num_likes}}
                </div>
                    {% if usuario in Tweet.tweet.likes.all %}
                    <input type="hidden" class="like-input{{Tweet.tweet.id}}"value="Unlike"></input>
                    <button style="border:none; background:transparent; margin:none; display:flex; "type="submit" class="unlike-btn{{Tweet.tweet.id}}"><img class="like-img{{Tweet.tweet.id}}" src="{% static "Symbolic_Love_Heart.png" %}" style="max-width: 10%;"></button></li>
                    {% else %}
                    <input type="hidden" class="like-input{{Tweet.tweet.id}}" value="Like"></input>
                    <button style="border:none; background:transparent; margin:none;display:flex;"type="submit" class="like-btn{{Tweet.tweet.id}}"><img class="like-img{{Tweet.tweet.id}}"src="{% static "heart2.jpg" %}" style="max-width: 10%;"></button></li>
                    {% endif %}
                <li class="list-group-item">{{Tweet.tweet.publishDate}}</li>
            </form>
            
            <form method="post" action="/likereply/" class="like-form" id="{{Tweet.id}}">
                <a href="/{{Tweet.replyLink}}" style="text-decoration: none; color:black;" >
                {{Tweet.body}}
                {% if Tweet.image %}
                    <img src="/uploads/{{Tweet.image}}" style="width:50%">
                {% endif %}
                </a>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">
                <input type="hidden" value="{{Tweet.id}}" name="tweetid">
                <div style="flex: 1; margin:5px;" class="like-count{{Tweet.id}}">
                    {{Tweet.num_likes}}
                </div>
                    {% if usuario in Tweet.likes.all %}
                    <input type="hidden" class="like-input{{Tweet.id}}"value="Unlike"></input>
                    <button style="border:none; background:transparent; margin:none; display:flex; "type="submit" class="replyunlike-btn{{Tweet.id}}"><img class="like-img{{Tweet.id}}" src="{% static "Symbolic_Love_Heart.png" %}" style="max-width: 10%;"></button></li>
                    {% else %}
                    <input type="hidden" class="like-input{{Tweet.id}}" value="Like"></input>
                    <button style="border:none; background:transparent; margin:none;display:flex;"type="submit" onclick=""class="replylike-btn{{Tweet.id}}"><img class="like-img{{Tweet.id}}"src="{% static "heart2.jpg" %}" style="max-width: 10%;"></button></li>
                    {% endif %}
                <li class="list-group-item">{{Tweet.publishDate}}</li>
            </form>
            {% endif %}
{% endfor %}

{% endblock %}

