{% extends "main/template.html" %}
{% load crispy_forms_tags %}
{% block title %}
{% load static %}
{{jname}} (@{{jusername}})
{% endblock %}

{% block javascript %}
{% endblock %}

{% block content %}
<img style="width:1500px; height:200px;"src="{{user.bannerpic.url}}" class="img-fluid">
<img style="position:absolute; top:70px; left:340px;border-radius: 50%; width:100px; height:100px;"src="{{user.profilepic.url}}" class="img-thumbnail">
<div class="position-absolute top-20 start-20">
{{user.name}}
</div>
{% if checkUser.username|upper == jusername|upper %}
<form action="/editprofile/">
    <div class="position-relative">
        <div class="position-absolute top-0 end-0">
            <button type="submit">Editar Perfil</button>
        </div>
    </div>
</form>
{% endif %}
<br>
@{{user.username}}<br>
<br>
{{user.bio}}<br>
<br>
Joined {{user.date_joined}}
<br>
Following {{user.followingN}}
Followers {{user.followersN}}
<br>
Tweets {{user.get_posts_no}}
<br>

    {% for Tweet in tweets|dictsortreversed:"publishDate" %}     
    <div class="card" style="width: 18rem;">      
        <ul style="color:black; margin-bottom:30px; class=list-group list-group-flush font-family: 'Kanit', sans-serif;">
            <li class="list-group-item">{{Tweet.tweet}}</li>
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="hidden"value="{{Tweet.id}}" name="tweetid">
            <li class="list-group-item">{{Tweet.likes}} <a onclick="" href="#" style="border:none; background:transparent; margin:none;"><img src="{% static "Symbolic_Love_Heart.png" %}" style="max-width: 10%;"></a></li>
            <li class="list-group-item">{{Tweet.publishDate}}</li>
        </ul>
    </div>
    {% endfor %}

{% endblock %}