{% extends "main/template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{%block content%}
<body>
    <h1>Conversa {{user.username}}</h1>

    {{user.username |json_script:"user"}}
    {{receiver.username |json_script:"receiver"}}
    {{user.id |json_script:"userid"}}
    {{receiver.id |json_script:"receiverid"}}
    <form id="form">
        <input type="text" name="message">
        <button type="submit" value="send"></button>
    </form>

    <div id="messages">
        {% for message in messages %}
            <p>{{message.sender}}: {{message.body}}</p>
        {% endfor %}
    </div>
{%endblock%}
{%block javascript%}
    <script type="text/javascript">
        var userid = document.getElementById("userid").textContent;
        var receiverid = document.getElementById("receiverid").textContent;
        var wsStart = 'ws://';
        if (window.location.protocol == 'https:') {
            wsStart = 'wss://'
        }
        
        let url = `${wsStart}${window.location.host}/ws/messages/${userid}-${receiverid}/`
        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('DATA:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById("messages")
                let username = JSON.parse(document.getElementById('user').textContent);
                messages.insertAdjacentHTML('beforeend', `<div
                                                            <p>${data.username}: ${data.message}</p>
                                                        </div>`)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            let username = JSON.parse(document.getElementById('user').textContent);
            let receiver = JSON.parse(document.getElementById('receiver').textContent);
            chatSocket.send(JSON.stringify({
                'message':message,
                'username':username,
                'receiver':receiver
            }))
            form.reset()
        })
    </script>
{%endblock%}