{% extends "main/template.html" %}

{% load crispy_forms_tags %}

{% block content%}
<form method="POST" class="form-group" action="">
    {% csrf_token %}
    {{form|crispy}}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <p>Não tem uma conta? Faça uma <a href="/register">aqui</a></p>
    <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}