{% load static %}
<html>
    <head>
        {% load static %}
        {% block head %}
        {% endblock %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap" rel="stylesheet">
        <link href="{% static 'css/styles.css'%}" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <header class="left">
            <p>
                <button id="twitterLogo" class="hidebutton"><img src="{% static 'logo.jpg' %}" style="width:50px;height:50px;"></button>
            </p>
            <p>
                <a class="hidebutton" href="/"><img src="https://i.ibb.co/BP0CKLT/hastag.png">Página Inicial</button>
            </p>
            <p>
                <button class="hidebutton" onclick=""><img src="https://i.ibb.co/z6KVrqw/home.png"/>Explore</button>
            </p>
            <p>
                <button class="hidebutton"  onclick=""><img src="https://i.ibb.co/YcbhGX3/sino.png">Notifications</button>
            </p>
            <p>
                <button class="hidebutton" onclick=""><img src="https://i.ibb.co/GphkvzT/messages.png"/>Messages</button>
            </p>
            <p>
                <button class="hidebutton" onclick=""><img src="https://i.ibb.co/3z0gRWD/saved-Itens.png">Saved Items</button>
            </p>
            <p>
                <button class="hidebutton" onclick=""><img src="https://i.ibb.co/vVjJS2q/lists.png">Lists</button>
            </p>
            <p>
                <a class="hidebutton" type="button" style="text-decoration: none; " href="/{{user.username}}/" value="profile"><img src="https://i.ibb.co/6XyTvTb/perfil.png">Profile</a>
            </p>
            <p>
                <button class="hidebutton" style="text-decoration: none; "><img src="https://i.ibb.co/X3W09pF/more.png">More</button>
            </p>
        </header>
        <header class="right">
            <img id="lupa"src="https://i.ibb.co/C729Pw0/lupa.png" style="width:20px; height: 20px; position: absolute; right: 237px; top:33px;">
            <form action="/search/" method="get">
                <input id="searchBox" placeholder="        Procurar no twitter" type="text" name="query">
            </form>
        </header>

        <div id="content", name="content" class="main">
            <div class="row justify-content-center">
                <div class="col-8">
                    <hr class="mt-0 mb-4">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascript %}
        {% endblock %}
    
    </body>
</html>